<%- include('partials/header'); %>
<%- include('partials/aside'); %>

    <main>

        <form class="search-bar" action="/" method="get">
            <input type="text" id="search" name="q" value="<%= q %>">
            <button type="submit">Search</button>
        </form>
        
    <form action="/" method="get">
        <select name="sortField">
            <option value="name" <%= sortField === 'name' ? 'selected' : '' %>>Name</option>
            <option value="price" <%= sortField === 'price' ? 'selected' : '' %>>price</option>
            <option value="date" <%= sortField === 'date' ? 'selected' : '' %>>date</option>
        </select>
        <select name="sortDirection">
            <option value="asc" <%= sortDirection === 'asc' ? 'selected' : '' %>>Ascending</option>
            <option value="desc" <%= sortDirection === 'desc' ? 'selected' : '' %>>Descending</option>
        </select>
        <button type="submit">Sort</button>
    </form>
    <section class="items">
        <% for (let item of data) { %>
            <section class="info-items">
                 <img class="img-item" src="/assets/images/<%= item.imageURL %>" alt=""> 
                <p> <%= item.name %></p> 
                <p><%= item.price %></p> 
                <p><%= item.type %></p>
                <p><%= item.playtypes %></p> 
                <p><%= item.releasedate %></p>
                <a href="/product/<%= item.id %>">view</a>
                <% for (let brand of arr) { %>
                    <% if (brand.id === item.manufacturer) { %>
                        <p><%= brand.name %></p>
                    <% } %>
                <% } %>
            </section>    
        <% } %> 
        
</section>
</main>

<%- include('partials/footer'); %>
