<%- include('partials/header'); %>
<%- include('partials/aside'); %>

    <main>
        <section class="sort">
        <form class="search-bar" action="/" method="get">
            <button type="submit"><i class="bi bi-search"></i></button>
            <input  type="text" placeholder="zoeken..." id="search" name="q" value="<%= q %>">
        </form>
        
        <form action="/" method="get">
            <select class="sort-select" name="sortField">
                <option class="sort-option" value="name" <%= sortField === 'name' ? 'selected' : '' %>>Name</option>
                <option class="sort-option" value="price" <%= sortField === 'price' ? 'selected' : '' %>>price</option>
                <option class="sort-option" value="date" <%= sortField === 'date' ? 'selected' : '' %>>date</option>
                <option class="sort-option" value="brand" <%= sortField === 'brand' ? 'selected' : '' %>>merk</option>
                <option class="sort-option" value="fullauto" <%= sortField === 'fullauto' ? 'selected' : '' %>>fullauto</option>
            </select>
            <select class="sort-select" name="sortDirection">
                <option class="sort-option" value="asc" <%= sortDirection === 'asc' ? 'selected' : '' %>>Ascending</option>
                <option class="sort-option" value="desc" <%= sortDirection === 'desc' ? 'selected' : '' %>>Descending</option>
            </select>
            <button type="submit">Sort</button>
        </form>
    </section>
        
        
    <% for (let item of data) { %>
        <section class="info-items">
            <img class="img-home" src="/assets/images/<%= item.imageURL %>" alt=""> 
            <p><%= item.name %></p> 
            <p> &euro; <%= item.price %></p> 
            <a class="item-icon" href="/type's">
                <% if (item.type === 'HPA') { %>
                    <i class="bi bi-wind wind hpa"></i> 
                <% } else if (item.type === 'AEG') { %>
                    <i class="bi bi-lightning-charge electric"></i>
                <% } else if (item.type === 'GBB & co2') { %>
                    <i class="bi bi-cloud gas"></i>
                <% } else if (item.type === 'spring') { %>
                    <i class="bi bi-arrow-repeat spring"></i>
                <% } %>
            </a>
            <ul>
                <% item.playtypes.forEach(function(playtype) { %>
                    <li><%= playtype %></li>
                <% }); %>
            </ul>
            <p><%= item.releasedate %></p>
            <% for (let brand of arr) { %>
                <% if (brand.id === item.manufacturer) { %>
                    <a class="a-brands" href="/brands"><%= brand.name %></a>
                <% } %>
            <% } %>
            <a href="/product/<%= item.id %>">info</a>
            <p><% if (item.fullauto === true) { %>
                <i class="bi bi-circle-fill green"></i> 
            <% } else { %>
                <i class="bi bi-circle-fill red"></i> 
            <%}%></p>
        </section>    
    <% } %>
        
</section>
</main>

<%- include('partials/footer'); %>
