<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="styles.style.css">
</head>
<body>
    <form action="/" method="get">
        <select name="sortField">
            <option value="name" <%= sortField === 'name' ? 'selected' : '' %>>Name</option>
            <option value="fps" <%= sortField === 'fps' ? 'selected' : '' %>>fps</option>
        </select>
        <select name="sortDirection">
            <option value="asc" <%= sortDirection === 'asc' ? 'selected' : '' %>>Ascending</option>
            <option value="desc" <%= sortDirection === 'desc' ? 'selected' : '' %>>Descending</option>
        </select>
        <button type="submit">Sort</button>
    </form>
    <section class="test">
    <% for (let person of data) { %>
        
            <div><%= person.name %></div> 
             <div>(<%= person.fps %>)</div>        
    <% } %>
</section>
</body>
</html>